<footer>
    <div class="copyright-infp">
        <p>Copyright &copy; 2022 — Nmovies. All Rights ReservedFree Movie & TV Shows by Nmovies</p>
    </div>
    <div class="info-btn">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dmca">Dmca</a></li>
            <li><a href="/contact">contact Us</a></li>
            <li><a href="/desclamer">Site Disclamier</a></li>
        </ul>
    </div>
</footer>