<section class="slider-sec">
    <div class="slider-sec-inside">

        <% data1.forEach((e)=>{%>
        <article class="slider-sec-article">
            <a href="/home/<%=e.link%>">
                <img src="<%=e.img%>" alt="">
            </a>
        </article>
        <%})%>

    </div>

</section>