<header>
    <!-- nav up -->
    <nav class="nav">
        <div class="nav-up">
            <div class="logo">
                <h1><a href="/"><span>N</span><span>movies</span></a></h1>
            </div>
            <div class="movie-request">
                <h4><a target="_blanck" href="/contact" >Movie request</a></h4>
            </div>
        </div>
        <div class="searchbox">
            <form action="/search"  method="get">
                <input type="text" name="search" id="" placeholder="search">
                <input type="submit" value="search">

            </form>
        </div>
        <div class="nav-down">
            <ul>
                <li><a href="/">Home </a></li>
                <li><a href="/hollywood" target="_blanck">Hollywood Dub</a></li>
                <li><a href="/south" target="_blanck">south Dub</a></li>
                <li><a href="/punjabi" target="_blanck">Punjabi </a></li>
                <li><a href="/web" target="_blanck">Web series</a></li>
                <li><a href="/bollywood" target="_blanck">Bollywood</a></li>
            </ul>
            <div class="hem">
                <svg viewBox="0 0 100 80" width="40" height="40">
                    <rect width="100" height="20"></rect>
                    <rect y="30" width="100" height="20"></rect>
                    <rect y="60" width="100" height="20"></rect>
                  </svg>
            </div>
        </div>
      </nav>
</header>