<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="en" />
    <meta name="title" content="Disclaimer :: Nmovies" />
    <meta name="description" content="Disclaimer :: Nmovies,  Nmoves 2022 movies" />
    <meta name="keywords" content="Nmovies, Nmovies 2022, New Mkv HD Movies, Mp4 Movies, hd Movies, 2022 new bollywood movies download, High Quility Movies, hd mobile movies, hindi movies 2022 download, hd movies download, mobile movies, " />
    <meta property="og:title" content="Disclaimer :: Nmovies" />
    <meta property="og:description" content="" />
    <meta property="og:keywords" content="Nmovies, filmyhit, New Mkv HD Movies, Mp4 Movies, hd Movies, 3gp, Mp4, HD Avi, HD Mp4, High Quility Movies, hd mobile movies, mp4hdmovies, hd movies download, mobile movies, " />
     <meta name="distribution" content="global" />
     <meta name="author" content="Nmovies" />
    <meta property="og:site_name" content="Nmovies"/>
    <!-- css files -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/phone.css">
    <title>Disclaimer</title>
</head>

<body>
    <!-- navbar -->

    <%- include('partials/navbar') -%>

    <!-- imgae slider sections -->
    <%- include('partials/image-slider') -%>

    <main>
        <section class="main-section ">
            <div class="titlle-name">
                <h4>Site Disclamier</h4>
            </div>

            <div class="contact-content">
                <div class="disclamier">
                    <ul>
                        <li> This is a promotional website only, All the downloadable content provided on this site (All metrials) is for testing/promotion purposes only.All files placed here are for introducing purpose.</li>
                        <li> We highly ENCOURAGE users to BUY the CDs or DVDs of the movie or the music they like.Please, buy original Songs/contents from author or developer site!</li>
                        <li> you should DELETE IT(data) within within 24 hours and make a point to buy the original CD or DVD from a local or online store.</li>
                    </ul>
                </div>
                
        </section>
    </main>
<!-- footer  -->
<%- include('partials/footer') -%>
    <script src="/js/js.js"></script>
</body>

</html>