<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="en" />
    <meta name="title" content="Dmca :: Nmovies" />
    <meta name="description" content="Dmca :: Nmovies,  Nmovies 2022 movies" />
    <meta name="keywords" content="Nmovies, Nmovies 2022, New Mkv HD Movies, Mp4 Movies, hd Movies, 2022 new bollywood movies download, High Quility Movies, hd mobile movies, hindi movies 2022 download, hd movies download, mobile movies, " />
    <meta property="og:title" content="Dmca :: Nmovies" />
    <meta property="og:description" content="" />
    <meta property="og:keywords" content="Nmovies, filmyhit, New Mkv HD Movies, Mp4 Movies, hd Movies, 3gp, Mp4, HD Avi, HD Mp4, High Quility Movies, hd mobile movies, mp4hdmovies, hd movies download, mobile movies, " />
    
     <meta name="distribution" content="global" />
     <meta name="author" content="Nmovies" />
    <meta property="og:site_name" content="Nmovies"/>
    <!-- css files -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/phone.css">
    <title>Dmca</title>
</head>

<body>
    <!-- navbar -->
    <%- include('partials/navbar') -%>

    <!-- imgae slider sections -->
    <%- include('partials/image-slider') -%>

 

    <main>
        <section class="main-section ">
            <div class="titlle-name">
                <h4>Dmca</h4>
            </div>

            <div class="dmca-content">
                <div class="dmca-container">
                    <p>dmca):</p>
                    <p> Information All parts of the nmovieshd website are for private use only. No files are hosted on our server, All contents are provided by non-affiliated third parties. they are only indexed much like how Google works. nmovieshd does not accept responsibility for content hosted on third party websites and does not have any involvement in the downloading/uploading of movies .we just post links available in internet.</p>
                        <p> This site merely indexes of other sites’s contents. The hosting server or the administrator cannot be held responsible for the contents of any linked sites or any link contained in a linked site, or changes / updates to such sites. All materials on this website is for Educational Purposes ONLY. For any copyright issues, you should contact the hosters files sites’s itself If you still have or need further information please send me PM through contact page Please allow 3-5 business days for an email response. Dmca nmovieshd Or Our Other Domains does not host any files on it’s servers. All point to content hosted on third party websites. nmovieshd does not accept responsibility for content hosted on third party websites and does not have any involvement in the same.</p>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer') -%>

    <script src="/js/js.js"></script>
</body>

</html>