*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;

}
.container{
    display: flex;
}

.admin-details {
    flex-basis: 30%;
    border: 1px solid #d9d5d5;
    max-width: 12rem;
    min-width: 10rem;
    margin-left: 2px;
    height: 20rem;
    z-index: 1;
    background-color: white;
}

.del{
    margin-top: 1rem;
    cursor: pointer;
}
.del {
    font-family: system-ui;
    background: purple;
    color: orange;
    padding: 7px 8px;
    text-align: center;
}



.admin-data{
    flex-basis: 80%;
}
.dis{
    display: none;
    background-color: white;
    animation-name: go;
    animation-duration: 0.5s;
    animation-timing-function: linear;

}

.new-data {
    background-color: black;
}

.admin-new-data {
    /* transform: translateX(160px); */
    /* transition: all 1s linear; */
    display: block;
    

}
@keyframes go{
    from{
        transform: translateX(-37px);
    }
    to{
        transform: translateX(0px);
    }
}
/* stylin of second part admin ================================= */
.admin-new-data input{
    display: block;
    margin: 2rem 9px;
    padding: 7px 5px;
    width: 80%;
    outline: none;
}

.admin-new-data textarea{
    display: block;
    width: 60%;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 7px 5px;
    outline: none;
    resize: none;
    font-size: 1rem;
}


/* all post container  */
.post-container{
    display: flex;
    justify-content: center;
    border: 1px solid #dfdfdf;
    height: 46rem;
    overflow: auto;
    flex-wrap: wrap;
    align-items: baseline;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
}
.post{
    display: flex;
    justify-content: space-between;
    min-width: 73%;
    border: 1px solid #c9c6c6;
    padding: 10px 12px;
    border-radius: 5px;
    margin-top: 1rem;
}

.post span{
    font-size: 1.1rem;
    font-family: system-ui;
}
.buttons {
    width: 20rem;
}
.post .buttons a{
    text-decoration: none;
    margin-left: 0.5rem;
    padding: 4px 10px ;
    background-color: rgb(2, 1, 2);
    color: orange;
}

/* card container styling ============================ */
.card-container{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.card{
    width: 14rem;
    border: 1px solid gray;
    padding: 7px 13px;
    margin-left: 1rem;
}
.card p,.card h5{
    margin-top: 0.6rem;
    font-family: monospace;
}
.title-name{
    text-align: center;
    background: purple;
    color: orange;
    font-size: 1.6rem;
    text-transform: capitalize;
}